
  <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading"> 
          <%= render partial:"accounts/header" %>
          </div>
          <div class="row clearfix f-space30"></div>
          <div class="panel-body">
        <div class="table-responsive">
          <div id='parent-table'>
            <table class="table table-hover table-striped content-list-order", id ="table-view">
              <thead>
                <tr class="bg-primary">
                  <th>#</th>
                  <th>User</th>
                  <th>Telephone</th>
                  <th>Pay type</th>
                  <th>Amount</th>
                  <th>Ship at</th>
                  <th>View</th>
                </tr>
              </thead>

              <tbody>
                <% counnt_user =0 %>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= counnt_user = counnt_user+1 %></td>

                    <td><%= order.account.full_name %></td>

                    <td><%= order.account.tel %></td>

                    <td><%= order.pay_type %></td>
                    <td><%= number_to_currency(order.amount) %></td>
                    <td><%= order.ship_at %></td>
                    <td><%= link_to "<i class='fa fa-eye fa-fw'></i>".html_safe, order, class: 'btn btn-primary' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
          </div>
            </div>
            <br>
          </div>
        </div>  
      </div>
      
</div>

