<div class="carousel-controls" id= "products_all"> 
  <%= paginate @products%> </div>
    <div class="carousel-inner"> 
    <!-- Items Row -->
      <div class="item active">
        <div class="row box-product"> 
          <!-- Product -->
          <% @products.each do |pro|%>
          <div class="col-lg-3 col-md-3col-sm-3 col-xs-12" style="margin-bottom: 10px;">
            <div class="product-block">
              <div class="image">
                <% if pro.sale != 0 %>
                 <div class="product-label product-sale"><span>SALE</span></div>
                <% elsif pro.new <= 10 %>
                 <div class="product-label product-new"><span>NEW</span></div>
                <%end %>
                <%= link_to "<img alt='product info' src='/uploads/product_image/image/#{pro.image_id}/#{pro.image}' title='product title'>".html_safe, product_path(pro.id) %></div>
                <div class="product-meta">
                  <div class="name"><%= link_to "#{pro.name}", product_path(pro.id) %></div>
                  <div class="big-price"> 
                    <% if pro.sale != 0 %>
                      <span class="price-old"><span class="sym">$</span><%=pro.price %></span>
                      <span class="price-new"><span class="sym">$</span><%= pro.price-(pro.sale*pro.price/100) %></span>
                      <%else%>
                      <span class="price-new"><span class="sym">$</span><%=pro.price %>
                    <%end%>
                  </div>

                  <%= form_tag carts_path, id: 'product_add_carts' do %>
                   <%= hidden_field_tag :image, pro.image  %>
                   <%= hidden_field_tag :sale, pro.sale  %>
                    <%= hidden_field_tag :name, pro.name  %>
                    <%= hidden_field_tag :price, pro.price  %>
                    <%= hidden_field_tag :id, pro.id  %>
                    <%= hidden_field_tag :image_id, pro.image_id  %>
                    <%= hidden_field_tag :qty, 1  %>
                  <div class="big-btns"><%= link_to 'View', product_path(pro.id), class:'btn btn-default btn-view pull-left' %><%= submit_tag 'Add to Cart', class:'btn btn-default btn-addtocart pull-right' %></div>

                  <%end%>
                  <div class="small-price"> <% if pro.sale != 0 %>
                      <span class="price-old"><span class="sym">$</span><%=pro.price %></span>
                      <span class="price-new"><span class="sym">$</span><%= pro.price-(pro.sale*pro.price/100) %></span>
                      <%else%>
                      <span class="price-new"><span class="sym">$</span><%=pro.price %>
                    <%end%> </div>
                  <div class="rating">
                    <% 
                    for i in 1..5 do
                      if pro.rating.to_i >= i
                    %> 
                      <i class="fa fa-star"></i> 
                    <% else%>
                      <i class="fa fa-star-o"></i> 
                    <%
                      end
                    end
                    %>
                  </div>
                  
                </div>
                <div class="meta-back"></div>
              </div>
            </div>
            <% end %>
          
              <div class="pull-right" style="background-color: blue; padding-left: 20px; padding-right: 30px">
                <%= paginate @products %>
              </div>
                <!-- end: Product --> 
          </div>
        </div>
         <!-- end: Items Row --> 
      </div>