<div class="container">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 menu-col">
        <div class="menu-heading"> <span> <i class="fa fa-bars"></i> Categories</span> </div>
        <!-- Mega Menu -->
        <div class="menu3dmega vertical" id="menuMega">
          <ul>
            <!-- end: Menu Item --> 
            <!-- Menu Item for Tablets and Computers Only-->
            <% @medium_categories.each do |big| %>
            <li><%= link_to "<i class='fa fa-bars'></i><span>#{big.name}</span> <i class='fa fa-angle-right'></i>".html_safe, product_categories_list_path(big.id), id:'big_categories_menu' %>
            </li>
            <% end %>
            <!-- end: Menu Item -->
          </ul>
        </div>
        <!-- end: Mega Menu --> 
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 menu-col-2"> 
        <!-- Navigation Buttons/Quick Cart for Tablets and Desktop Only -->
        <div class="menu-links hidden-xs">
          <ul class="nav nav-pills nav-justified">
            <li> <%= link_to '<i class="fa fa-home fa-fw"></i> <span class="hidden-sm">Home</span></a>'.html_safe %> </li>
            <li> <%= link_to '<i class="fa fa-info-circle fa-fw"></i> <span class="hidden-sm">About</span>'.html_safe %> </li>
            <li> <%= link_to '<i class="fa fa-bullhorn fa-fw"></i> <span class="hidden-sm">Blog</span>'.html_safe %> </li>
            <li> <%= link_to '<i class="fa fa-pencil-square-o fa-fw"></i> <span class="hidden-sm ">Contact</span>'.html_safe %></li>
            <li class="dropdown"> 
            <% if session[:cart] != nil %>
              <%= link_to "<i class='fa fa-shopping-cart fa-fw'></i> <span class='hidden-sm'> #{session[:cart].size()} Items</span>".html_safe, new_cart_path, id: 'count_item_carts' %> 
              <% else %>
                <%= link_to "<i class='fa fa-shopping-cart fa-fw'></i> <span class='hidden-sm'> 0 Item</span>".html_safe, new_cart_path %>
              <% end %>
            </li>
          </ul>
        </div>
        <!-- end: Navigation Buttons/Quick Cart Tablets and large screens Only --> 
        
        
        <div class="clearfix"></div>
        <!-- Iview Slider -->
        <div class="slider">
          <div id="iview"> 
            <!-- Slide 1 -->
            <div data-iview:image="slide0.jpg" data-iview:pausetime="60000">
              <div class="iview-caption metro-box1 orange" data-transition="wipeUp" data-x="95" data-y="209"> <a href="">
                <div class="box-hover"></div>
                <i class="fa fa-comment-o fa-fw"></i> <span>About us</span></a> </div>
              <div class="iview-caption metro-box1 blue" data-transition="wipeUp" data-x="266" data-y="209"> <a href="">
                <div class="box-hover"></div>
                <i class="fa fa-bullhorn fa-fw"></i> <span>Blog</span></a> </div>
              <div class="iview-caption metro-box2" data-transition="expandLeft" data-x="438" data-y="209">
                  <div class="monthlydeals">
                  <div class="monthly-deals slide" id="monthly-deals">
                    <div class="carousel-inner">
                      <div class="item active"> <a href="index.html"><%= image_tag @slide[0].image %></a> </div>
                      <% @slide[1..(@slide.size)].each do |s| %>
                      <div class="item"> <a href="index.html"> <%= image_tag s.image %> </a> </div>

                      <%end%>
                    </div>
                  </div>
                  <a class="left carousel-control" data-slide="prev" href="index.htm#monthly-deals"> <i class="fa fa-angle-left fa-fw"></i> </a> <a class="right carousel-control" data-slide="next" href="index.htm#monthly-deals"> <i class="fa fa-angle-right fa-fw"></i> </a> </div>
                <!--  <span>Deals of the month</span> -->
              </div>
              <div class="iview-caption metro-box1 purple" data-transition="wipeDown" data-x="438" data-y="37"> <a href="/products">
                <div class="box-hover"></div>
                <i class="fa fa-female fa-fw"></i> <span>Show Products</span></a> </div>
              <div class="iview-caption metro-box1 dark-blue" data-transition="wipeDown" data-x="610" data-y="37"> <a href="">
                <div class="box-hover"></div>
                <i class="fa fa-male fa-fw"></i> <span>for you</span></a> </div>
              <div class="iview-caption metro-heading" data-transition="expandLeft" data-x="95" data-y="40">
                <h1>COSMEJAPAN</h1>
              </div>
              <div class="iview-caption metro-heading" data-transition="wipeLeft" data-x="95" data-y="100"> <span>  Welcome to our shop. We bring to you many cosmetics from Japan...<br>
                <a href="index.htm#a">read more</a></span> </div>
            </div>
            <!-- Slide 1 -->
            <div data-iview:image="slide1.jpg">
              <div class="iview-caption caption1" data-transition="wipeUp" data-x="100" data-y="10">30%</div>
              <div class="iview-caption caption2" data-easing="easeInOutElastic" data-transition="wipeLeft" data-x="100" data-y="140">SPECIAL
                OFFER</div>
              <div class="iview-caption caption3" data-easing="easeInOutElastic" data-transition="wipeLeft" data-x="100" data-y="200">Enthusiastically
                orchestrate performance based<br>
                experiences via granular networks.</div>
              <div class="iview-caption btn-more" data-transition="fade" data-x="100" data-y="280"><a href="index.htm#a">Learn
                more</a></div>
            </div>
            <!-- Slide 2 -->
            <div data-iview:image="slide2.jpg">
              <div class="iview-caption caption3 btm-bar" data-height="107px" data-transition="expandRight" data-width="867px" data-x="0" data-y="300">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>