<!DOCTYPE html>
<html>
<head>
  <title>CosmeJapan-BEAUTYFUL ONLINE STORE</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom', 'iview', 'style-switch', 'menu3d', 'normalize', 'animate', 'color', 'font-awesome' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=335579889978240&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
<!-- Header -->
<header> 
  <!-- Top Heading Bar -->
  <%= render 'layouts/top_heading_bar' %> 
  <!-- end: Top Heading Bar -->

  <!-- search & logo -->
  <div class="f-space20"></div>
  <!-- Logo and Search -->
    <%= render 'layouts/search_logo' %>
  <!-- end: Logo and Search -->
  <div class="f-space20"></div>
  <!-- Menu -->
    <%= render 'layouts/menu' %>
  <!-- end Menu-->
</header>
<!-- end: Header --> 
<!-- Products -->
<div class="row clearfix f-space30"></div>
  <div class="container">
    <%= yield %>
  </div>
</div>
<!-- end: Products --> 

<!-- Widgets -->
<div class="row clearfix f-space30"></div>
<div class="containers">
    <%= render 'layouts/widgets' %>
  </div>
<!-- end: Widgets -->
<div class="row clearfix f-space30"></div>
<!-- footer -->
<footer class="footer">
<div class="containers">
    <%= render 'layouts/footer' %>
  </div>
</footer>
<!-- end: footer --> 

<script>
$(document).ready(function(){
    $('#get_category_id').select2({
     placeholder: "Select your Market"
    });
  });
(function($) {
  "use strict";
 $('#menuMega').menu3d();
    $('#iview').iView({
        pauseTime: 10000,
        pauseOnHover: true,
        directionNavHoverOpacity: 0.6,
        timer: "360Bar",
        timerBg: '#2da5da',
        timerColor: '#fff',
        timerOpacity: 0.9,
        timerDiameter: 20,
        timerPadding: 1,
        touchNav: true,
        timerStroke: 2,
        timerBarStrokeColor: '#fff'
    });

    $('.quickbox.htm').carousel({
        interval: 10000
    });
    $('#monthly-deals').carousel({
        interval: 3000
    });
    $('#productc2').carousel({
        interval: 4000
    });
    $('#tweets').carousel({
        interval: 5000
    });
})(jQuery);


          
        </script>
</body>
</html>
