<style type="text/css">
.form-control {
background-color: #DFF0D8;
}
td {
padding-left: 20px !important;
}
</style>
<%= form_for(@account) do |f| %>
<% if @account.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @account.errors.full_messages.each do |message| %>
    <li style="color: red"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="col-sm-8">
  <table width="100%">
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :Email %><br>
          <%= f.email_field :email, placeholder:"Input your email", required: true, class: "form-control"%>
          <div>
            <% if notice%>
            <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true" id="notice"><%= notice %></span>
            <%end%>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= f.label :Phone %><br>
          <%= f.telephone_field :tel, placeholder:"Input your phone number" , required: true, class: "form-control"%>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :Password %><br>
          <%= f.password_field :password, placeholder:"Input your password", required: true, class: "form-control" %>
        </div>
      </td>
      
      <td>
        <div class="form-group">
          <%= f.label :Birthday %><br>
          <%= f.date_select :birthday, :use_short_month=>true, :start_year=> 1950, :end_year=> Time.now.year,
          :date_separator=>'/ ', class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :Fullname %><br>
            <%= f.text_field :full_name, placeholder:"Input your fullname" , required: true, class: "form-control"%>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :Address %><br>
            <%= f.text_field :address , placeholder:"Your address" , required: true, class: "form-control"%>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label :Gender %><br>
      <%= f.label :Male %>
      <%= f.radio_button :gender, 1 %>
      <%= f.label :Female %>
      <%= f.radio_button :gender, 0 %>
    </div>
    <div class="form-group">
      <%= f.label :Avatar %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="pull-right"><%= f.submit :Submit, class:"btn btn-primary pull-left" %>
    </div>
    <% end %>
  </div>