<style type="text/css">

.fa {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
  .logoimage {
  width: 70px;
  height: 70px;
  float: left;
  background: #00aff0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.logoimage i {
  font-size: 25px;
  padding-top: 22px;
}
.logotext {
  float: left;
  color: #444444;
  font-size: 19px;
  padding: 22px 0 0 10px;
  line-height: 10px;
}
.slogan {
  padding-left: 10px;
  color: #e65a4b;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 11px;
}

/*------------------------------------*\
   Logo
\*------------------------------------*/

.logo {
  float: left;
  width: 235px;
  display: table;
}

    footer {
  background-color: #333333;
  color: #aaaaaa;
  font-size: 12px;
  padding: 20px 0 0 0;
}

footer .copyrights {
  background-color: #222222;
  border-top: 1px #444444 solid;
  padding-top: 14px;
}
footer .copyrights .copytxt {
  padding-bottom: 10px;
  display: inline-block;
}

</style>

<hr>

<%= form_for(@account) do |ac| %>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="content">
          <div class="panel panel-success">
            <div class="panel-heading text-default"><h1>Sign up</h1></div>
            <div class="panel-body">
                <fieldset>
                  <div class="control-group">
                    <!-- Email -->
                    <label class="control-label" for="username">Email</label>
                    <div class="controls">
                      <%= ac.email_field :email, class: "form-control", placeholder: "Input email" %>
                      <p class="help-block">Email can contain any letters or numbers, without spaces</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Password -->
                    <label class="control-label" for="email">Password</label>
                    <div class="controls">
                      <%= ac.password_field :password, class: "form-control", placeholder: "Input Password" %>
                      <p class="help-block">Please provide your Password should be at least 4 characters</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Fullname-->
                    <label class="control-label" for="password">Fullname</label>
                    <div class="controls">
                      <%= ac.text_field :full_name, class: "form-control", placeholder: "Input Fullname" %>
                      <p class="help-block">Fullname can contain any letters</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Phone number -->
                    <label class="control-label"  for="password_confirm">Phone number</label>
                    <div class="controls">
                      <%= ac.text_field :tel, class: "form-control", placeholder: "Input Phone number" %>
                      <p class="help-block">Phone number can contain only numbers bettwen 0 to 9</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Day of birth -->
                    <label class="control-label"  for="password_confirm">Day of birth</label>
                    <div class="controls">
                      <%= ac.date_select :birthday, :use_short_month=>true, :start_year=> 1950, :end_year=> Time.now.year,
                        :date_separator=>'/ ', class: "form-control" %>
                      <p class="help-block">Select date</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Address -->
                    <label class="control-label"  for="password_confirm">Address</label>
                    <div class="controls">
                      <%= ac.text_field :address, class: "form-control" %>
                      <p class="help-block">Address can contain any letters or numbers</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Gender -->
                    <label class="control-label"  for="password_confirm">Gender</label><br>
                    <div class="controls">
                      <label class="control-label"  for="password_confirm">Male</label>
                      <%= ac.radio_button :gender, '1', {:checked => true} %>
                      <label class="control-label"  for="password_confirm">Female</label>
                      <%= ac.radio_button :gender, '0' %>
                      <p class="help-block">Select gender</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Image -->
                    <label class="control-label"  for="password_confirm">Image Profile</label>
                    <div class="controls">
                      <%= ac.file_field :image, id: "select_image", class: "form-control" %>
                      <p class="help-block">Select image profile</p>
                      <% if @account.image? %>
                        <%= image_tag @account.image, class: "img-thumbnail", :id => 'show_select_image'%>
                      <% else %>
                        <div id='show_selection'></div>
                      <% end -%>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Button -->
                    <div class="controls pull-right">
                      <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
                      <%= ac.submit "Register", class:"btn btn-success" %>
                    </div>
                  </div>
                </fieldset>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<% end -%>

  <!-- JS -->
<script type="text/javascript">
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#show_selection').html("<img id='show_select_image', class='img-thumbnail'/>")
$('#show_select_image').attr('src', e.target.result);
}
reader.readAsDataURL(input.files[0]);
}
}
$("#select_image").change(function(){
readURL(this);
});
</script>