  <div class="row">
    <div class="product">
    <div  class="panel panel-default">
    <div class="panel-heading"> 
    <%= render partial:"accounts/header" %>
    </div>
    <div class="panel-body">
    <div class="col-md-3 col-sm-9">
    <div class=""><%= image_tag @account.image, class: "img-thumbnail" %> </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9 p-wr">
        <div class="product-attrb-wr">
          <div class="product-meta">
            <div class="name">
              <table class="table table-hover table-striped"  >
                      <tr>
                          <th>Email:</th>
                          <td><%= @account.email %></td>
                      </tr>
                      <tr>
                          <th>Password:</th>
                          <td><%= @account.password %></td>
                      </tr>
                      <tr>
                          <th>Full name:</th>
                          <td><%= @account.full_name %></td>
                      </tr>

                      <tr>
                          <th>Phone:</th>
                          <td><%= @account.tel %></td>
                      </tr>
                      <tr>
                          <th>Birthday:</th>
                          <td><%= @account.birthday %></td>
                      </tr>
                      <tr>
                          <th>Address:</th>
                          <td><%= @account.address %></td>
                      </tr>
                      <tr>
                          <th>Gender:</th>
                          <td><% if @account.gender==true %>
                            Male 
                          <% else %>
                            Female
                          <% end -%>
                          </td>
                      </tr>
                  </table>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>